
    <link rel="stylesheet" type="text/css" href="~/css/StyleSheet.css">
    
    <div class="game-board">
        <div class="box" id="00"></div>
        <div class="box" id="01"></div>
        <div class="box" id="02"></div>
        <div class="box" id="10"></div>
        <div class="box" id="11"></div>
        <div class="box" id="12"></div>
        <div class="box" id="20"></div>
        <div class="box" id="21"></div>
        <div class="box" id="22"></div>
    </div>